@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header{
    background-color: rgba(255, 144, 14, 0.10);
padding: 50px 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner img{
        width: 100%;
}
.btn-primary{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border-style: none;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}
/* main style  */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams-container{
    display: flex;
     align-items: center;  
     padding: 50px;
}
.teams-img-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2,1fr);
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-description{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}
.quick-list{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.of-our{
    font-weight: 700;
    color: #131313;
    font-size: 45px;
}
.features{
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

/* facts Section  */

.facts {
    padding: 100px;
}
.facts h3{
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.facts p{
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
    width: 50%;
}

.award 
{
    display: flex;
    justify-content: space-around;
}
.award .award-section{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
       padding: 30px;
    height: 170px;
    width: 170px;
}
.award-section .number{
font-size: 1.8rem;
color: #424242;
margin-top: 10px;
margin-bottom: 10px;
}
.award-section .win{
    font-size: 20px;
    color: #727272;
    margin-top: 10px;
margin-bottom: 10px;
}

/* Sponsor Section  */
.sponsor{
    text-align: center;
}
.sponsor p{
    width: 50%;
    margin: 0 auto;
}

.sponsor-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 20px;
 
}


/* Mobile Responsive */
@media screen and (max-width:576px) {
   header{
    padding: 5px;
   } 
   nav{
    flex-direction: column;
   }
   .teams-container{
    flex-direction: column;
    padding: 5px;
   }
   .teams-img-container{
    grid-template-columns: 1fr;
   }
   .award {
    flex-direction: column;
    gap: 20px;
    align-items: center;
   }
   .sponsor{
    flex-direction: column;
   text-align: center;
   }
   .sponsor-img{
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
   }
}

/* Medium Devices  */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}

